@font-face {
    font-family: 'Medium';
    src: url('Montserrat-Medium.ttf') format('truetype');
}

html {
    height: 100vh;
    background-image: url(camera-1130731_640.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    background-size: cover;
}

.accueil {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Medium';
    text-align: center;
    font-size: 2em;

}