@font-face {
    font-family: 'Medium';
    src: url('Montserrat-Medium.ttf') format('truetype');
}

.galerie {
    font-family: 'Medium';
  
   }

.carte>img {
    width: 1000px;
    height: 1px;
    border-radius: 1000px;
    padding: 0 10px 0 10px;
} 

select {
    background-color: #819FF7;
    border: none;
    padding: 1em;
    border-radius: 99px;


}

.select {
    text-align: center;
   
}