@font-face {
    font-family: 'Medium';
    src: url('Montserrat-Medium.ttf') format('truetype');
}

.menu {
    font-size: 1.4em;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Medium';

}

a {
    text-decoration: none;
    color: black;

}

.activeLink {
    font-weight: bold;
    color: blue;
}