@font-face {
    font-family: 'Medium';
    src: url('Montserrat-Medium.ttf') format('truetype');
}

.tarifs > h2 {
    font-family: 'Medium';
    color: blue;
    text-decoration: underline;
    border: 10px solid black;
}
