@font-face {
    font-family: 'Medium';
    src: url('Montserrat-Medium.ttf') format('truetype');
}


.tarifs>h1 {
    font-size: 2em;
    font-family: 'Medium';
    text-align: center;
    padding: 1.2em;
    font-weight: bold;

}
.prestations>h2 {
    font-weight: bold;
    font-size: 1.8em;
}

.prestations {
    font-family: 'Medium';
    padding: 2em;
    border: 2px blue solid;
    margin: 10px;
    border-radius: 99px;
    background-color: whitesmoke;
    box-shadow: 1em 1em 1em grey, -1em 1em 1em grey;

}
