* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.accueil {
  background: url(camera-1130731_640.jpg);
  align-items: center;
  justify-content: center;
  text-align: center;
}